/*  MY NAME   font-family: 'Abel', sans-serif;
    BODY COPY font-family: 'Raleway', sans-serif; */

    body {
    margin: 0;
    padding: 0;
    background-color: #1d1e22;
}

/* .clearfix::after {
    content: "";
    display: block;
    clear: both;
} */

/* Header with Name and NavBar */

#top-name {
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    color: #feda6a;
}

li a.nav-link {
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    color: #d4d4dc;
    background-color: #333333;
    text-align: center;
    text-decoration: none;
}

li a.nav-link:hover {
    color: #1d1e22 !important;
    background-color: #feda6a;
  }

nav {
    background-image: url("http://www.figureeightdesign.com/images/dike_snake_blur.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.navbar-custom {
    border-color: #feda6a;
  } 

.stat-text {
    width: 100%;
    text-align: right;
    float: right;
    padding: 15px 0px 0px 0px;
    font-family: 'Raleway', sans-serif;
    color: #d4d4dc;
    font-size: 11px;
}
.stat-text:last-child {
    margin-bottom: 30px;
}

h2 {
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Abel', sans-serif;
    color: #feda6a;
}

h3 {
    vertical-align: center;
    font-size: 10px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

h4 {
    font-size: 1.25rem;
    bottom: 30px;
    text-align: center;
    padding: 15px 0px 15px 0px;
    margin: 0px auto;
    width: 100%;
    font-family: 'Abel', sans-serif;
    color: #feda6a;
    background-color: #333333
}

b {
    color: #feda6a;
    font-weight: 800;
}

aside {
    float: left;
    width: 30%;
}

#about-me {
    margin: 50px 0px 20px 0px;
    width: 70%;
    float: right;
}

#portfolio-box {
    width: 100%;
    background-color: #333333;
    margin-bottom: 30px;
    margin-left: 0px;
}

.portfolio-item {
    width: 200px;
    height: 200px;
    min-width: 150px;
    min-width: 150px;
    margin-right: 15px;
    background-color: #1d1e22;
    /* background-image: url(http://placehold.it/300x300); */
}

#bio-image {
    margin-top: 50px;
    border-radius: 10px;
}

p {
    line-height: 1.5;
    margin-bottom: 10px;
    color: #d4d4dc;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: lighter;
}

p:last-child {
    margin-bottom: 30px;
}

footer {
    margin: 0 auto;
    background-color: #333333;
    width: 100%;
    padding: 10px;
    text-align: center;
    box-shadow: 0 50vh 0 50vh #333333;
}

hr {
    border: none;
    height: 1px;
    color: #feda6a;
    background-color: #feda6a;
    margin: 10px 0px 10px 0px
}


input {
    margin: 0px 0px 25px 0px;
    width: 100%;
    max-width: 768px;
    height: 20px;
    color: white;
    font-size: 12px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #feda6a;
    background-color: #1d1e22;
    border-radius: 10px 10px 0px 0px;
}

input.contact-message-box {
    resize: vertical;
    overflow: hidden;
}

.p-contact {
    margin: 0px 0px 5px 0px;
}

#submit-button {
    text-transform: uppercase;
    margin-bottom: 30px;
    background-color: #333333;
    font-family: 'Abel', sans-serif;
    color: #feda6a;
    border-style: none;
    font-size: 16px;
}

li a.social-media {
    display: inline;
    float: left;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    color: #d4d4dc;
    text-decoration: none;
    margin: 20px 0 20px 0;
    padding: 0px 10px;
}

li a.social-media:first-child {
    margin-left: 100px;
}

li a.social-media:hover {
    color: #1d1e22;
    background-color: #feda6a;
  }

  textarea {
    margin: 0px 0px 15px 0px;
    width: 100%;
    max-width: 768px;
    color: white;
    font-size: 12px;
    padding: 15px 0px 0px 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #feda6a;
    background-color: #333333;
    border-radius: 10px 10px 0px 0px;
    resize: vertical;
    overflow: visible;
  }

  .card {
      border-style: none;
      background-image: url(http://placehold.it/300x300);
  }
